<div class="row">
  <a href="javascript:<%- penCode %>" class="button primary">
    <div class="button-title"><%- penData['title'] %></div>
    <div class="button-subtitle"></div>
  </a>
</div>

<div class="row">
  <a href="http://codepen.io/<%- penData['author'] %>/pen/<%- penData['id'] %>?editors=0010" target="_blank" class="link">view on codepen</a>
</div>
