<div class="row text-center">
  <a href="javascript:<%- penCode %>" class="button primary"><%- penData['title'] %></a>
</div>

<div class="row">
  <a href="http://codepen.io/<%- penData['author'] %>/pen/<%- penData['id'] %>?editors=0010" target="_blank" class="button secondary">Codepen</a>
</div>

<div class="row">
  <a href="/" class="button secondary">Generate</a>
</div>
