<div class="row">
  <input type="text" id="codepen_url" placeholder="codepen url"/>
</div>

<div class="row">
  <a id="generate_bookmarklet" class="button primary disabled">
    <div class="button-title">generate</div>
  </a>
</div>
