<div class="row">
  <p>the bookmarklet bazaar can be used to create and share simple pieces of executable js, like <a class='link' href='/ashtonmeuser/JKgvxK'>this</a>, or <a class='link' href='/ashtonmeuser/NAQrwr'>this</a>.</p>
</div>

<div class="row">
  <p>to generate your own custom bookmarklet, write some js on <a class='link' target='_blank' href='http://codepen.com/pen/'>codepen</a>, copy the pen's url, paste it below, and hit generate.</p>
</div>

<div class="row">
  <p>you can assign a title and description to your bookmarklet by including <span class='code'>//bookmarklet_title: &lt;your title&gt;</span> and <span class='code'>//bookmarklet_about: &lt;your details&gt;</span> in your code, respectively.</p>
</div>
