<% ['author', 'id', 'title', 'about'].forEach(function(key) { %>
  <div class="row">
    <div class="column left">
      <%- key %>:
    </div>
    <div class="column right">
      <%- pen[key] %>
    </div>
  </div>
<% }); %>
