/* Fonts */
@font-face {
  font-family: 'quigleywiggly';
	src: url('/fonts/quigleywiggly.eot');
	src: url('/fonts/quigleywiggly.eot?iefix') format('eot'),
	     url('/fonts/quigleywiggly.woff') format('woff'),
	     url('/fonts/quigleywiggly.ttf') format('truetype'),
	     url('/fonts/quigleywiggly.svg#webfont') format('svg');
}
/* End fonts */

/* Layout */
body {
  font-family: Courier New;
  font-size: 16px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: center;
  background-color: whitesmoke;
}
main {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}
p {
  margin: 0;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 5px 0;
}
.column {
  flex: 1 0 0;
  -webkit-flex: 1 0 0;
}
.column.left {
  max-width: 70px;
  text-align: right;
}
.column.right {
  text-align: left;
  padding-left: 10px;
}
/* End layout */

/* Buttons, links */
.button-title {
  font-size: 1.5em;
}
.button-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  min-width: 100px;
  margin: 20px 0;
}
.button.primary {
  background: #5F9EA0;
}
.button.secondary {
  background: #5F9EA0;
}
.button.disabled {
  background: #BBB;
}
.button-subtitle:after {
  content: "long-press to save"
}
.link {
  color: black;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .button:hover {
    text-decoration: none;
  }
  .button.primary:hover {
    background: #7EB1B3;
  }
  .button.secondary:hover {
    background: #7EB1B3;
  }
  .button.disabled:hover {
    background: #BBB;
    cursor: not-allowed;
  }
  .button-subtitle:after {
    content: "drag to bookmarks to save"
  }
}
/* End buttons, links */

/* Input */
input {
  text-align: center;
  font-size: 1em;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  border: 0;
  width: 100%;
  min-width: 100px;
  padding: 10px;
  margin-top: 20px;
}
/* End input */

/* Header */
header {
  margin-bottom: 20px;
}
header h1 {
  font-family: quigleywiggly;
  font-size: 4em;
  line-height: 0.8;
  font-weight: bold;
  margin: 0;
}
header h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}
header a {
  text-decoration: none;
  color: inherit;
}
/* End header */

/* Error */
.error {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: white;
  padding: 20px;
  max-width: 100%;
  margin: 20px 0;
  min-width: 100px;
  background: lightcoral;
}
/* End error */

/* Code */
span.code {
  background-color: #DDD;
}
/* End code */
