div(class='row')
  p
    | bookmarkl.ink can be used to share simple javascript gists, executable 
    | in the browser and saved in bookmarklets, like an 
    a(class='link' href='https://bookmarkl.ink/ashtonmeuser/21427841853c9f2292c8f7d7af0079ea//emoji.js') emoji generator
    | , a 
    a(class='link' href='https://bookmarkl.ink/ashtonmeuser/21427841853c9f2292c8f7d7af0079ea//count.js') word counter
    | , or a 
    a(class='link' href='https://bookmarkl.ink/ashtonmeuser/21427841853c9f2292c8f7d7af0079ea//qr.js') QR code creator
    | .

div(class='row')
  p
    | to generate your own bookmarklet, write some javascript, save it as a 
    a(class='link' target='_blank' href='https://gist.github.com') github gist
    | , copy the url, paste it below, and hit create.

div(class='row')
  p
    | you can assign a title and description to your bookmarklet by including 
    span(class='code') //bookmarklet_title: &lt;your title&gt;
    |  and 
    span(class='code') //bookmarklet_about: &lt;your details&gt;
    |  in your code, respectively.

div(class='row')
  p
    | to learn more, see the 
    a(class='link' target='_blank' href='https://gist.github.com') project repo
