div(class='row')
  p
    | bookmarkl.ink can be used to create and share simple pieces of executable js, like 
    a(class='link' href='/b/#ashtonmeuser/JKgvxK') an emoji generator
    | , 
    a(class='link' href='/b/#ashtonmeuser/vJEOBJ') a word counter
    | , or 
    a(class='link' href='/b/#ashtonmeuser/NAQrwr') this
    | .

div(class='row')
  p 
    | to generate your own custom bookmarklet, write some js on 
    a(class='link' target='_blank' href='http://codepen.com/pen/') codepen
    | , copy the pen's url, paste it below, and hit generate.

div(class='row')
  p 
    | you can assign a title and description to your bookmarklet by including 
    span(class='code') //bookmarklet_title: &lt;your title&gt;
    |  and 
    span(class='code') //bookmarklet_about: &lt;your details&gt;
    |  in your code, respectively.
