div(class='row bookmarklet-hidden')
  a(class='button disabled' id='anchor-bookmarklet')
    div(class='button-title' id='div-bookmarklet-title') no title
    div(id='div-bookmarklet-subtitle')
      
div(class='row' id='div-bookmarklet-copy')
  a(class='button disabled' id='anchor-bookmarklet-copy')
    div copy js to clipboard
