div(class='row hidden' x-bind:class='{hidden: !href}')
  a(class='button disabled' x-bind:href='href' x-bind:class='{disabled: !valid}')
    div(class='button-title' x-text='title') no title
    div(id='div-bookmarklet-subtitle')
