div(class='row bookmarklet-hidden')
  a(class='button disabled' x-bind:href='code' x-bind:class='{disabled: !valid}')
    div(class='button-title' x-text='title') no title
    div(id='div-bookmarklet-subtitle')
