template(x-if='gist?.status === "success"')
  div(class='row space-top')
    a(class='button disabled' x-bind:href='gist.href' x-bind:class='{disabled: !gist.href}')
      div(class='button-title' x-text='gist.title') no title
      div(id='div-bookmarklet-subtitle')
