div(class='row space-top')
  template(x-if='gist.error')
    .contents
      h3 transpilation error
      pre(x-text='gist.error.message')
  a(class='button' x-bind:href='gist.href')
    div(class='button-title' x-text='gist.title')
    div(id='div-bookmarklet-subtitle')
