div(class='row')
  input(type='text' placeholder='codepen url' x-model='gistUrl')

div(class='row')
  a(class='button disabled' x-bind:href='bookmarkletUrl' x-bind:class='{disabled: !valid}')
    div(class='button-title') create
