div(class='row')
  input(type='text' id='input-codepen-url' placeholder='codepen url')

div(class='row')
  a(id='anchor-generate-bookmarklet' class='button primary disabled')
    div(class='button-title') generate
