script(async src='https://www.googletagmanager.com/gtag/js?id=UA-83318900-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-83318900-1', {
    'page_path': location.pathname + location.search + location.hash,
  });
