div(class='row hidden' x-bind:class='{hidden: gist.status !== "success"}')
  h3 properties
  table
    template(x-for='key in ["author", "id", "version", "file", "title", "about", "size"]')
      tr(x-show='gist[key]')
        td(x-text='key')
        td(x-text='gist[key]')
