.row(x-show='Object.keys(gist.variables).length')
  h3 variables
  table
    template(x-for='[key, variable] in Object.entries(gist.variables).filter(([_, variable]) => ["text", "number", "password"].includes(variable.type))')
      tr
        td.v-center(x-text='key')
        td
          input(x-bind:type='variable.type' x-model.unintrusive.debounce.150ms='variable.value' autocomplete="off")
