.row(x-show='Object.keys(gist.variables).length')
  h3 variables
  table
    template(x-for='[key, variable] in Object.entries(gist.variables)')
      tr
        td.v-center
          label(:for='`variable-${key}`' x-text='key')
        td
          template(x-if='variable.type === "boolean"')
            label
              input(:id='`variable-${key}`' type='checkbox' x-model='variable.value')
              div
          template(x-if='variable.type !== "boolean"')
            input(:type='variable.type' :id='`variable-${key}`' x-model.unintrusive.debounce.150ms='variable.value' autocomplete="off")
