template(x-if='gist?.status === "success" && Object.keys(gist.variables).length')
  div(class='row')
    h3 variables
    table
      template(x-for='variable in Object.keys(gist.variables)')
        tr
          td(class='v-center' x-text='variable')
          td
            input(x-bind:type='gist.variables[variable].type' x-model.unintrusive.debounce.150ms='gist.variables[variable].value' autocomplete="off")
