div(x-show='Object.keys(gist.variables).length' class='row')
  h3 variables
  table
    template(x-for='[key, variable] in Object.entries(gist.variables)')
      tr
        td(class='v-center' x-text='key')
        td
          input(x-bind:type='variable.type' x-model.unintrusive.debounce.150ms='variable.value' autocomplete="off")
