<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <main class="container">

    <% include ../partials/header %>

    <% include ../partials/main_text %>

    <% include ../partials/generate %>

  </main>
</body>
</html>
