extends ../layout

block head
  script(src='https://unpkg.com/@babel/standalone/babel.min.js')
  script(src='/js/bookmarklet.js')

block section
  include ../partials/modal.pug
  include ../partials/properties.pug
  include ../partials/bookmarkletButton.pug

block footer
  include ../partials/codepenLink.pug
  include ../partials/homeLink.pug
