extends partials/layout

block head
  script(type='module' src='./js/bookmarklet.ts')

block content
  include partials/modal.pug
  include partials/properties.pug
  include partials/variables.pug
  include partials/bookmarkletButton.pug

block footer
  include partials/gistLink.pug
  include partials/homeLink.pug
