extends partials/layout

block head
  script(src='/js/home.js')

block content
  section(x-data='data()')
    include partials/about.pug
    include partials/generateForm.pug

block footer
  include partials/githubLink.pug
