extends partials/layout

block head
  script(type='module' src='./js/home.ts')

block content
  include partials/about.pug
  include partials/createForm.pug
  include partials/playgroundLink.pug

block footer
  include partials/repoLink.pug
  include partials/kofiLink.pug
